@import "@unocss/reset/tailwind.css";

@unocss all;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@layer base {
    body {
        background-color: white;
        color: black;
    }
}

* {
    transition-duration: 200ms;
}

.quill {

    .ql-container {
        display: flex !important;
        flex-direction: column;

        .ql-editor {
            flex: 1 1 0;
            overflow: auto;
        }
    }
}

/*@media (md:hover: none), (pointer: none), (pointer: coarse) {*/
/*    *:hover {*/
/*        pointer-events: none;*/
/*    }*/
/*}*/